# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


.pytest_cache/

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
# Ignore the local database
*.sqlite3

# If you are using Postgres with a local settings file
local_settings.py

# Ignore media files
media/

# Ignore static files
staticfiles/

# Ignore virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Ignore .env file with environment variables
.env

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore node modules (if using Node.js)
node_modules/

# Ignore Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/

# Ignore coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

*.pem
*.ppk
aelearning.ppk
*.exe
known_hosts

